
  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <div class="footer_contact">
            <h4>
              Contact Us
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  {{ location }}
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call {{ number }}
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  {{ email }}
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <div class="footer_detail">
            <a href="" class="footer-logo">
              Feane
            </a>
            <p>
              {{ text }}
            </p>
            <div class="footer_social">
              <a href="{{ facebook_link }}">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="{{ twitter_link }}">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="{{ linkedin_link }}">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="{{ instagram_link }}">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
              <a href="{{ pinterest_link }}">
                <i class="fa fa-pinterest" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <h4>
            Opening Hours
          </h4>
          <p>
            {{ opening_hours|safe }}
          </p>
        </div>
      </div>
      <div class="footer-info">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved By
          <a href="https://html.design/">Free Html Templates</a><br><br>
          &copy; <span id="displayYear"></span> Distributed By
          <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
        </p>
      </div>
    </div>
  </footer>